<p id="notice"><%= notice %></p>

<h1>Listing Statements</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Reason</th>
      <th>Kms</th>
      <th>Road</th>
      <th>Place</th>
      <th>User</th>
      <th>Attachment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td><%= statement.date %></td>
        <td><%= statement.reason %></td>
        <td><%= statement.kms %></td>
        <td><%= statement.road %></td>
        <td><%= statement.place %></td>
        <td><%= statement.user %></td>
        <td><%= image_tag statement.picture.url(:thumb) %></td>
        <td><%= link_to 'Show', statement %></td>
        <td><%= link_to 'Edit', edit_statement_path(statement) %></td>
        <td><%= link_to 'Destroy', statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statement', new_statement_path %>
 <br>

 <% if user_signed_in? %>
 Logged in as <strong><%=current_user.email %></strong>.
 <%= link_to 'Edit profile', edit_user_registration_path, :classe => 'navbar-link' %><br>
 <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
 <% end %>
