<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @statement.date %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @statement.reason %>
</p>

<p>
  <strong>Kms:</strong>
  <%= @statement.kms %>
</p>

<p>
  <strong>Road:</strong>
  <%= @statement.road %>
</p>

<p>
  <strong>Place:</strong>
  <%= @statement.place %>
</p>

<p>
  <strong>User:</strong>
  <%= @statement.user %>
</p>
<p>
  <strong>Attachment:</strong>
  <%= image_tag(@statement.picture(:thumb)) %>
</p>
<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
